.webnotik-category article {
  transition: all 0.3s ease;
  box-shadow: 0 10px 25px 0 rgba(0,0,0,0.08);
  border: 1px solid rgba(0,0,0,0.08);
  background: #fff;
  margin-bottom: 30px;
}

.webnotik-category article:hover {
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}

.webnotik-category article .et_pb_text_inner {
  padding: 1em;
}

.webnotik-category article img {
    width: 100%;
}

.webnotik-category article h2.entry-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    padding: 0 !important;
}

.webnotik-category article p {
    line-height: 1.7em;
}

.webnotik-category article .more-link {
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
    padding-bottom: 10px;
    display: block;
}

.webnotik-category article .more-link:after {
    font-family: ETmodules;
    content: '\39';
    margin-left: 5px;
    top: 1px;
    position: relative;
}


/** SIDEBAR & WIDGET Area **/
.widgettitle {
    font-weight: 700;
    padding-bottom: 25px;
    font-size: 25px;
}

#sidebar li {
    margin-bottom: 0;
}

#sidebar li a:before {
    font-family: ETmodules;
    content: '\39';
    position: absolute;
    margin-left: -15px;
    top: 21px;
}

#sidebar li a {
    padding: 20px 15px 20px 30px;
    background-color: #f2f2f2;
    border: 2px solid #e9e9e9;
    border-bottom: 0px;
    margin-bottom: 0;
    display: block;
    position: relative;
}

#sidebar li a:hover {
    background: #ccc;
    border-color: #ccc;
}

#sidebar li:last-of-type a{
    border-bottom: 2px solid #e9e9e9;
}

#sidebar li a {
    color: #000;
}



/** OTHER CSS **/
.block {
    display: block;
    width: 100%;
}

.blue {
    color: #00aeef;
}

.st30 {
    margin-top: 30px !important;
}

.sb30 {
    margin-bottom: 30px !important;
}

.st15 {
    margin-top: 15px !important;
}

.sb15 {
    margin-bottom: 15px !important;
}

.centerCenter {
    display: flex;
    align-items: center;
}



.line {
    background: #00aeef;
    width: 80%;
    max-width: 300px;
    height: 2px;
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-animation: linear infinite alternate;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: spanLine;
}

.line.left {
    margin-left: 30px;
}

.line.right {
    margin-right: 30px;
}

.line:before, .line:after {
    content: "";
    width: 5px;
    height: 2px;
    position: absolute;
    background: #00aeef;
    z-index: 2;
    -webkit-animation:linear infinite alternate;
    -webkit-animation-duration: 0.5s;
}

.line:before {
    left: -10px !important;
    -webkit-animation-name: runLeft;   
}

.line:after {
    right: -10px !important;
    -webkit-animation-name: runRight;
}


.browser:before {
    content: "";
    position: absolute;
    background: white;
    height: 30px;
    top: -32px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 2px solid #222;
}

.browser:after {
    content: "https://yourwebsiteaddress.com";
    font-size: 13px;
    line-height: 20px;
    padding: 2px 6px;
    color: #7a7a7a;
    position: absolute;
    background: #d7d7d7;
    height: 20px;
    top: -27px;
    left: 5px;
    right: 5px;
    bottom: 0;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.browser .et_pb_image_wrap {
    max-height: calc(100vh - 150px);
    overflow: hidden;
}

@media screen and (min-width: 1280px) {
    .browser .et_pb_image_wrap {
        max-height: 60vh;
    }
}



/** Animations **/

@-webkit-keyframes runLeft {
    0% { left: -20px;}
    50% { left: -10px;}
    100%{ left: 0px;}
}

@-webkit-keyframes runRight {
    0% { right: 0px;}
    50% { right: -10px;}
    100%{ right: -20px;}
}

@-webkit-keyframes spanLine {
    0% { width: 50%;}
    50% { width: 75%;}
    100%{ width: -00%;}
}

@-moz-keyframes spinBackground { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinBackground { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinBackground { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/** Backgrounds **/
.animateBG {
  overflow: hidden;
}
.animateBG:before {
    position: absolute;
    content: "";
    background: url(https://testingwebsite102.com/wp-content/uploads/2019/10/background3-1.png) no-repeat !important;
    background-size: 100% !important;
    top: -100%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    -webkit-animation: spinBackground 80s linear infinite;
    -moz-animation: spinBackground 80s linear infinite;
    animation: spinBackground 80s linear infinite;
    opacity: 0.7;
}



/** Remove Lines on Sidebar for Single Post **/
#main-content .container:before {
    display: none;
}


/** SINGLE BLOG PAGE **/
.entry-content p {
    line-height: 1.9em;
}

.post-meta a {
    text-decoration: underline;
}

#left-area .post-meta {
    padding-bottom: 15px;
    font-size: 16px;
    color: #222;
    font-weight: 600;
}




/** Module Default Styling **/
.button-inline .et_pb_button_module_wrapper {
    display: inline-block;
}

.button-inline .et_pb_button {
    margin-right: 10px;
}

